@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --vermelho: #a06666;
  --azul: #3ba3bc;
  --preto: #1c4788;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body {
  min-height: 100%;
  min-width: 100%;
  display: flex;
}

.maskBody {
  background: linear-gradient(
    180deg,
    var(--azul) 0%,
    rgba(191, 191, 191, 0) 60%
  );
  @apply flex
  h-full
  w-full
  bg-no-repeat
  bg-blend-multiply
  bg-fixed
  bg-left
  bg-cover;
}
